<div *ngIf="!aut.confirmacionLogin">
  <div class="d-flex justify-content-center container" *ngIf="aut.confirmacionLogin == false">
    <div class="containerLogin">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="inputMail"  required/>
        <span *ngIf="inputMail.length < 1 ">mail requerido</span>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="inputPass" minlength="8" required />
        <span *ngIf="inputPass.length < 8">La contraseña debe tener mas de 8 caracteres</span>
      </div>
      <button type="button" class="btn btn-primary" (click)="iniciarSesion()">Iniciar sesion</button>
    </div>
  </div>
</div>
